Repository ValveResourceFormat/ValveResourceFormat, pull requests merged in 2021-02, with the labels that each got.

#323 Add list resources option to decompiler
  Decompiler/Decompiler.cs
Labels: enhancement

#324 Add glTF export format and export materials options to decompiler
  Decompiler/Decompiler.cs
Labels: enhancement

#325 Old mesh format support. Additional VBIB information. Tinted materials export
  GUI/Types/Renderer/GPUMeshBufferCache.cs
  GUI/Types/Renderer/GPUMeshBuffers.cs
  GUI/Types/Renderer/ModelSceneNode.cs
  GUI/Types/Renderer/RenderableMesh.cs
  GUI/Types/Viewers/Resource.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/Blocks/VBIB.cs
  ValveResourceFormat/Resource/Enums/RenderSlotType.cs
  ValveResourceFormat/Resource/ResourceTypes/Mesh.cs
  ValveResourceFormat/Resource/ResourceTypes/NTRO.cs
  ValveResourceFormat/Serialization/IKeyValueCollection.cs
  ValveResourceFormat/Serialization/NTRO/NTROStruct.cs
Labels: bug, enhancement

#328 Fix white eyelashes
  GUI/Types/Renderer/Shaders/vr_standard.frag
Labels: bug
