Repository ValveResourceFormat/ValveResourceFormat, pull requests merged in 2022-12, with the labels that each got.

#459 Check trailer in older binary kv3 files, match behavior with engine
  ValveResourceFormat/Resource/ResourceTypes/BinaryKV3.cs
Labels: enhancement

#463 Fix CCompressedDeltaVector3 and CCompressedStaticVector3 reading
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimDecoder.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimDecoderType.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Animation.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationDataChannel.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationFrameBlock.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationSegmentDecoder.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedAnimQuaternion.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedAnimVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedDeltaVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedFullQuaternion.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedFullVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticFullVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticQuaternion.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentHelpers.cs
Labels: bug, enhancement

#469 Use native Half type
  ValveResourceFormat/Resource/Blocks/VBIB.cs
  ValveResourceFormat/Resource/ResourceTypes/TextureDecompressors.cs
  ValveResourceFormat/Utils/HalfTypeHelper.cs
Labels: enhancement

#465 glTF materials: metal texture & merge some logic with MaterialExtract
  Decompiler/Decompiler.cs
  Tests/ExtractTest.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/IO/MaterialExtract.cs
  ValveResourceFormat/IO/TextureExtract.cs
Labels: enhancement

#474 Update FPS counter once a second
  GUI/Controls/GLViewerControl.Designer.cs
  GUI/Controls/GLViewerControl.cs
Labels: enhancement

#471 Fix glTF folder export
  Decompiler/Decompiler.cs
  GUI/Forms/ExtractProgressForm.cs
  GUI/Types/Exporter/ExportFile.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Skeleton.cs
Labels: bug

#475 Add decompile/export to tab context menu; remove export menu
  GUI/MainForm.Designer.cs
  GUI/MainForm.cs
  GUI/Types/Exporter/ExportData.cs
  GUI/Types/Viewers/Package.cs
  GUI/Types/Viewers/Resource.cs
Labels: enhancement, gui

#478 Use ExtractProgressForm for single file exports
  GUI/Forms/ExtractProgressForm.Designer.cs
  GUI/Forms/ExtractProgressForm.cs
  GUI/Forms/ExtractProgressForm.resx
  GUI/Forms/GenericProgressForm.Designer.cs
  GUI/MainForm.cs
  GUI/Types/Exporter/ExportData.cs
  GUI/Types/Exporter/ExportFile.cs
  GUI/Utils/AdvancedGuiFileLoader.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
Labels: enhancement

#485 Fix mesh indexes (fixes mesh groups and skeletons)
  GUI/Types/Renderer/ModelSceneNode.cs
  GUI/Types/Renderer/RenderableMesh.cs
  GUI/Types/Renderer/WorldNodeLoader.cs
  GUI/Types/Viewers/Resource.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/ResourceTypes/Mesh.cs
  ValveResourceFormat/Resource/ResourceTypes/Model.cs
  ValveResourceFormat/Utils/InternalTestExtraction.cs
Labels: bug

#486 Filter out children in glTF folder exports to avoid duplicates
  GUI/Forms/ExtractProgressForm.cs
  ValveResourceFormat/IO/FileExtract.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
Labels: enhancement, exporting

#488 Fix cast error.
  ValveResourceFormat/Resource/ResourceTypes/Morph.cs
Labels: bug

#490 Fix GLTF vertex buffers being duplicated between draw calls
  GUI/Types/Renderer/DrawCall.cs
  GUI/Types/Renderer/GPUMeshBufferCache.cs
  GUI/Types/Renderer/RenderableMesh.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/ResourceTypes/Model.cs
Labels: enhancement

#492 Fix glTF joints and weights
  ValveResourceFormat/IO/GltfModelExporter.cs
Labels: bug

#493 Define Mesh as a resource type
  GUI/Types/Renderer/GLModelViewer.cs
  GUI/Types/Renderer/MeshSceneNode.cs
  GUI/Types/Renderer/ModelSceneNode.cs
  GUI/Types/Renderer/RenderableMesh.cs
  GUI/Types/Renderer/WorldNodeLoader.cs
  GUI/Types/Viewers/Resource.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/Resource.cs
  ValveResourceFormat/Resource/ResourceTypes/Mesh.cs
  ValveResourceFormat/Resource/ResourceTypes/Model.cs
  ValveResourceFormat/Utils/InternalTestExtraction.cs
Labels: enhancement

#495 Auto-add folders with "addoninfo.txt" or ".addon" to path
  GUI/Utils/AdvancedGuiFileLoader.cs
Labels: enhancement, gui

#496 Improve bones remapping
  GUI/Types/Renderer/ModelSceneNode.cs
  GUI/Types/Renderer/RenderableMesh.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/Blocks/VBIB.cs
  ValveResourceFormat/Resource/ResourceTypes/Model.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Animation.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Bone.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Skeleton.cs
Labels: enhancement

#497 Optimize animations
  GUI/Types/Renderer/AnimationController.cs
  GUI/Types/Renderer/ModelSceneNode.cs
  ValveResourceFormat/IO/AnimationGroupLoader.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/ResourceTypes/Model.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Animation.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationChannelAttribute.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationDataChannel.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationFrameCache.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationSegmentDecoder.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Frame.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/FrameBone.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedAnimQuaternion.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedAnimVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedDeltaVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedFullFloat.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedFullQuaternion.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedFullVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticFloat.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticFullVector3.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticQuaternion.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/SegmentDecoders/CCompressedStaticVector3.cs
Labels: enhancement

#498 Properly handle animations with no Fps/FrameCount
  GUI/Types/Renderer/AnimationController.cs
  GUI/Types/Renderer/GLModelViewer.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Animation.cs
Labels: bug

#500 Remove FrameBone#Parent
  GUI/Types/Renderer/ShaderLoader.cs
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Animation.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationFrameCache.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Frame.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/FrameBone.cs
Labels: bug, enhancement
