Repository ValveResourceFormat/ValveResourceFormat, pull requests merged in 2023-12, with the labels that each got.

#676 vmdl extract: recreate skeleton in vmdl file
  ValveResourceFormat/IO/ModelExtract.cs
Labels: enhancement, exporting

#684 Decompile vsnap files referenced in particle entities
  ValveResourceFormat/IO/MapExtract.cs
Labels: enhancement, exporting

#683 Extract animation root motion with .vmdl decompile
  ValveResourceFormat/IO/ModelExtract.cs
  ValveResourceFormat/Resource/Enums/ModelAnimationMotionFlags.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/Animation.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationMovement.cs
Labels: enhancement

#687 Fix animations interpolating between last to first frames
  GUI/Types/Renderer/AnimationController.cs
  ValveResourceFormat/Resource/ResourceTypes/ModelAnimation/AnimationFrameCache.cs
Labels: bug

#692 Fix morph rendering crashing on Dota 2 map
  GUI/Types/Renderer/FlexStateManager.cs
  GUI/Types/Renderer/ModelSceneNode.cs
  GUI/Types/Renderer/MorphComposite.cs
Labels: bug
