Repository ValveResourceFormat/ValveResourceFormat, pull requests merged in 2023-03, with the labels that each got.

#520 Silently ignore invalid VBIB blend indices
  ValveResourceFormat/Resource/Blocks/VBIB.cs
Labels: bug

#484 Gltf memory and image overwriting fixes
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/ValveResourceFormat.csproj
Labels: enhancement

#526 Export CS2 weapons with PBR
  GUI/AssetTypes/postprocessing_sm.png
  GUI/AssetTypes/vpost.png
  GUI/Types/Renderer/Shaders/simple.frag
  ValveResourceFormat/IO/GltfModelExporter.cs
  ValveResourceFormat/IO/MaterialExtract.cs
  ValveResourceFormat/IO/TextureExtract.cs
  ValveResourceFormat/Resource/ResourceTypes/Material.cs
  ValveResourceFormat/Resource/ResourceTypes/Texture.cs
Labels: enhancement, exporting
